<!-- src/app/app.component.html -->

<mat-toolbar color="primary">
  <mat-icon>music_note</mat-icon>
  <span>Chord and Scale Recommender</span>
</mat-toolbar>

<div class="container">
  <!-- Tarjeta de Configuración Inicial -->
  <mat-card>
    <mat-card-title>Configuración Inicial</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Género Musical</mat-label>
          <mat-select [(value)]="selectedGenre">
            <mat-option *ngFor="let genre of genres" [value]="genre">{{ genre }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Tipo de Entrada</mat-label>
          <mat-select [(value)]="selectedInputType">
            <mat-option value="microphone">Micrófono</mat-option>
            <mat-option value="midi">MIDI</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="button-group">
          <button mat-raised-button color="primary" (click)="start()">Iniciar Detección</button>
          <button mat-raised-button color="accent" (click)="reset()">Reiniciar</button>
        </div>

        <div *ngIf="audioStarted && selectedInputType === 'midi'">
          <button mat-raised-button color="warn" (click)="pauseMidi()" [disabled]="isMidiPaused">
            Pausar detección
          </button>
          <button mat-raised-button color="primary" (click)="playMidi()" [disabled]="!isMidiPaused">
            Reaudar detección
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <!-- Mensaje para Tocar Más Notas -->
  <div *ngIf="playedNotes.length < 3 && audioStarted">
    <mat-card>
      <mat-card-content>
        <p>
          Por favor, toca al menos {{ 3 - playedNotes.length }} nota{{ 3 - playedNotes.length > 1 ? 's' : '' }} más para comenzar la detección de escalas y acordes.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

    <!-- Añade esto en el lugar apropiado dentro de tu plantilla -->

  

  <!-- Tarjeta de Información de la Detección -->
  <mat-card *ngIf="audioStarted">
    <mat-card-title>Información de la Detección</mat-card-title>
    <mat-card-content>
      <p><strong>Nota Actual:</strong> {{ currentNote }} ({{ currentFrequency | number:'1.2-2' }} Hz)</p>
      <p><strong>Notas Tocadas:</strong> {{ playedNotes.join(', ') }}</p>

      <div *ngIf="currentScale">
        <p><strong>Escala Detectada:</strong> {{ currentScale }}</p>
        <p><strong>Notas de la Escala:</strong> {{ scaleNotes.join(', ') }}</p>
        <app-piano [scaleNotes]="scaleNotes"></app-piano>
      </div>

      <div *ngIf="!currentScale && playedNotes.length >= 3">
        <p>No se encontraron escalas que incluyan las notas tocadas.</p>
      </div>

      <div *ngIf="suggestedChords.length > 0">
        <p><strong>Acordes Sugeridos:</strong></p>
        <ul>
          <li *ngFor="let chord of suggestedChords">
            {{ chord }}
            <app-piano [chordNotes]="getChordNotes(chord)"></app-piano>
          </li>
        </ul>
      </div>
    
    </mat-card-content>
  </mat-card>

  <div *ngIf="audioStarted && selectedInputType === 'microphone'">
    <button mat-raised-button (click)="toggleMute()">
      {{ audioService.isMuted ? '¿Quieres escucharte?' : 'Dejar de escucharte' }}
    </button>
  </div>
  
  <!-- Mensaje de advertencia cuando el micrófono está desmuteado -->
  <div *ngIf="audioStarted && selectedInputType === 'microphone' && !audioService.isMuted" class="warning">
    <p>
      <strong>Advertencia:</strong> Por favor, utiliza auriculares para evitar feedback de audio.
    </p>
  </div>

  <div *ngIf="selectedInputType === 'midi'">
    <app-piano [activeNote]="currentNote"></app-piano>
  </div>

  <!-- src/app/app.component.html -->



</div>
